/*print options*/
@media print  
{
    a[href]:after {
    content: none !important;
     }
    @page {
    margin-top: 0;
    margin-bottom: 0;
    }
     body{
    padding-top: 72px;
    padding-bottom: 72px ;
    }
    #printable { display: none; }

    @media print
    {
        #non-printable { display: none; }
        #printable { display: block; }
    }
}

/*disable scroll*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: grey;
}

/*menu*/

@media (max-width: 991px) {
  .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
    margin-top: -54px !important;
   }
   .page-header .page-header-top .top-menu .navbar-nav>li.dropdown {
    height: 0 !important;
   }
   .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    padding: 8px 0 0px 4px !important;
   }
}